.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  mat-card-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }
  
  mat-form-field {
    margin-bottom: 20px;
  }
  