<div class="signup-container">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <!-- First Name -->
      <mat-form-field class="full-width">
        <input matInput placeholder="First Name" formControlName="firstName" />
        <mat-error *ngIf="signupForm.get('firstName')?.hasError('required')">
          First name is required.
        </mat-error>
      </mat-form-field>
  
      <!-- Last Name -->
      <mat-form-field class="full-width">
        <input matInput placeholder="Last Name" formControlName="lastName" />
        <mat-error *ngIf="signupForm.get('lastName')?.hasError('required')">
          Last name is required.
        </mat-error>
      </mat-form-field>
  
      <!-- Username -->
      <mat-form-field class="full-width">
        <input matInput placeholder="Username" formControlName="username" />
        <mat-error *ngIf="signupForm.get('username')?.hasError('required')">
          Username is required.
        </mat-error>
      </mat-form-field>
  
      <!-- Mobile Number -->
      <mat-form-field class="full-width">
        <input matInput placeholder="Mobile Number" formControlName="mobileNumber" />
        <mat-error *ngIf="signupForm.get('mobileNumber')?.hasError('required')">
          Mobile number is required.
        </mat-error>
      </mat-form-field>
  
      <!-- Email -->
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email" />
        <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
          Email is required.
        </mat-error>
        <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
          Invalid email format.
        </mat-error>
      </mat-form-field>
  
      <!-- Password -->
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Password" formControlName="password" />
        <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
          Password is required.
        </mat-error>
      </mat-form-field>
  
      <!-- Confirm Password -->
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
        <mat-error *ngIf="signupForm.get('confirmPassword')?.hasError('required')">
          Confirm password is required.
        </mat-error>
        <mat-error *ngIf="signupForm.hasError('passwordMismatch')">
          Passwords do not match.
        </mat-error>
      </mat-form-field>
  
      <!-- Submit Button -->
      <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">
        Sign Up
      </button>
    </form>
  </div>
  