<div class="question-container">
  <h1>Add Questions</h1>

  <!-- Horizontal Fields Section -->
  <div class="info-fields">
    <mat-form-field appearance="outline">
      <mat-label>Date of Interview</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="dateOfInterview" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Type of Interview</mat-label>
      <mat-select [(ngModel)]="interviewType">
        <mat-option *ngFor="let type of interviewTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Client/Vendor Name</mat-label>
      <input matInput placeholder="Enter Client/Vendor Name" [(ngModel)]="clientVendorName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Interview Round</mat-label>
      <mat-select [(ngModel)]="interviewRound">
        <mat-option *ngFor="let round of interviewRounds" [value]="round">
          {{ round }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Question Section -->
  <div *ngFor="let question of questions; let i = index" class="question-box">
    <mat-form-field class="full-width" appearance="outline">
      <textarea
        matInput
        placeholder="Enter your question (max 500 characters)"
        maxlength="500"
        [(ngModel)]="question.text"
      ></textarea>
    </mat-form-field>

    <button mat-icon-button color="primary" (click)="addQuestion()" *ngIf="i === questions.length - 1">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="removeQuestion(i)" *ngIf="i > 0">
      <mat-icon>remove</mat-icon>
    </button>
  </div>

  <!-- Action Buttons -->
  <div class="action-buttons">
    <button mat-raised-button color="primary" (click)="saveQuestions()">Save</button>
    <button mat-raised-button color="warn" (click)="cancelChanges()">Cancel</button>
  </div>
</div>
